<div>
	<h2>Raw Logs</h2>
	<span>not in real time, you need to refresh or click a button</span><br />
	<button class="btn btn-default" ng-click="vm.search('')">All</button>
	<button class="btn btn-default" ng-click="vm.search('log')">Logs</button>
	<button class="btn btn-default" ng-click="vm.search('hb')">Heartbeats</button>
	<button class="btn btn-default" ng-click="vm.search('null')">Unknown</button>
	<table class="table">
		<tbody>
			<tr ng-repeat="log in vm.logs">
				<td>
					{{log.Timestamp | moment}} - {{log.Level}} - <small>Type: {{log.Type}}</small><br />
					Source: <strong>{{log.SourceId}}</strong><br />
					<pre ng-if="log.Msg != null && log.Msg != ''">Message: {{log.Msg}}</pre>
					<pre ng-if="log.Exception != null && log.Exception != ''"><small>Exception: {{log.Exception}}</small></pre>
					<pre ng-if="log.ExtraElements != null && log.ExtraElements != ''"><small>ExtraElements: {{log.ExtraElements | json}}</small></pre>
				</td>
			</tr>
		</tbody>
	</table>
	<!--<pre>{{vm | json}}</pre>-->
</div>